@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&family=Roboto:ital,wght@1,300&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}

.title{

    font-family: 'Merriweather Sans', sans-serif;
    font-size: 600;
    color: #243665;  
  
}

.subtitle{
    font-family: 'Roboto', sans-serif;

}


 .teste {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
    .conteudo{
        border-top: 0.4px solid #243665;
    }

.icone{
    font-size: 32px;
    color: #243665;
   
}

.elementos{
        width: 400px;
        margin: 70px 70px;
}

.tema .botao_dark {
  align-items: flex-end;
  font-size: 16px;
  padding: 5px 16px;
  background: #ECF4FF;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #0E1D2F;
}

    
 /* .botao {
    padding: 5px 30px;
    background-color:#243665 ;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    border: 1px;
}

 .botao_dois {
    padding: 20px 30px;
    background-color:#243665 ;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    border: 1px;
}
 .botao:hover, .botao_dois {
    background-color:#fff ;
    color: #243665;

} */

 .form_dados{
    width: 800px;
    height: 150px;
    margin:  auto;
 /* border: solid 1px #181327; */
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); 
}

 .dicas__hospedagem{
    height: 40vh;
    background-color: #8f8e8e;
     margin: 20px;
    border-radius: 20px;
}

 .destaque {
  display: block;
  background: #ebebeb;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  color: #000;
  text-decoration: none;
  transition: all ease-out 0.2s;
 }

 #servicos a.destaque:hover {
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
 }
 .img_container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px; 
 }

 /* Dark */
 .dark {
  background: linear-gradient(236.85deg, #000000 27.26%, #010407 96.03%);
}

.dark .navbar{
    background-color: #000000;
}
  
.dark .container h2{
  /* background: #333439; */
  color: #F6F6F6;
}

.dark .destaque {
    background: #2b2b2b;
}

.dark h4{
    color: #8f8e8e;

}

.dark .portfolio {
  color: #1C1C1C;
}

.dark .tema button {
  color: #FFFFFF;
  background: #1C1C1C;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #F7F7F7;
}

/* ::-webkit-scrollbar{
width: 5px;
height: 5px;
}

::-webkit-scrollbar-thumb{
background: #1C1C1C;
border: 1.8px solid #1C1C1C;
border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover{
background: #ECF4FF;
}

::-webkit-scrollbar-track{
background: #ECF4FF;
border-radius: 100px;
box-shadow: inset 0px 0px 0px 0px #F0F0F0;
margin: 15px 0px;
} */

 
/* media querie */



    @media (min-width: 355px) and (max-width:1024px) {
         
    .footer {
    padding: 2em 5%;
    text-align: center;
    font-size: 1rem;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     font-size: 1rem;
}

    }
    
